#white_square { background-image: none; background-color: wheat; }
#black_square { background-image: none; background-color: green; }
#possible_move { background-image: none; background-color: yellow; }



